In [ ]:
import pandas as pd

df = pd.read_csv("../data/raw/import_data_2017_2025.csv")

df.head()

,PORT CODE,DATE,IEC,HS CODE,GOODS DESCRIPTION,Master category,Model Name,Model Number,Capacity,Qty,Unit of measure,Price,Unit of measure.1,QUANTITY,UNIT,UNIT PRICE_INR,TOTAL VALUE_INR,UNIT PRICE_USD,TOTAL VALUE_USD,DUTY PAID_INR
0,INNSA1,2025-10-28,301049751,73239990,TH5170 STEEL CUTLERY HOLDER (QTY:600 PCS/USD 2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,290.0,KGS,401.725310,116500.34,4.529034,1313.419842,32736.6
1,INNSA1,2025-10-28,301049751,73231000,8001-2 STEEL SCRUBBER 2PCS SET (QTY: 336000 SE...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9800.0,KGS,440.602218,4317901.74,4.967331,48679.839230,1898149.5
2,INNSA1,2025-10-23,301049751,73239990,MILD STEEL MULTI FUNCTION CLOTH STAND (RYX-02-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4004.0,KGS,408.893664,1637210.23,4.609850,18457.837990,460056.0
3,INNSA1,2025-10-13,301049751,73239990,SB-12 STEEL TEA STRAINER BIG (QTY 6336 PCS/USD...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1548.8,KGS,378.457845,586155.51,4.219151,6534.621070,164709.7
4,INNSA1,2025-10-13,301049751,73239990,SB-12 STEEL TEA STRAINER BIG (QTY 43038 PCS/US...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10042.2,KGS,399.739675,4014265.76,4.456407,44752.126640,1128008.7

In [2]:
df.columns()

TypeError: 'Index' object is not callable

In [3]:
df.columns

Index(['PORT CODE', 'DATE', 'IEC', 'HS CODE', 'GOODS DESCRIPTION',
       'Master category', 'Model Name', 'Model Number', 'Capacity', 'Qty',
       'Unit of measure', 'Price', 'Unit of measure.1', 'QUANTITY', 'UNIT',
       'UNIT PRICE_INR', 'TOTAL VALUE_INR', 'UNIT PRICE_USD',
       'TOTAL VALUE_USD', 'DUTY PAID_INR'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2079 entries, 0 to 2078
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PORT CODE          2079 non-null   object
 1   DATE               2079 non-null   datetime64[ns]
 2   IEC                2079 non-null   int64
 3   HS CODE            2079 non-null   int64
 4   GOODS DESCRIPTION  2079 non-null   object
 5   Master category    0 non-null      float64
 6   Model Name         0 non-null      float64
 7   Model Number       0 non-null      float64
 8   Capacity           0 non-null      float64
 9   Qty                0 non-null      float64
 10  Unit of measure    0 non-null      float64
 11  Price              0 non-null      float64
 12  Unit of measure.1  0 non-null      float64
 13  QUANTITY           2079 non-null   float64
 14  UNIT               2079 non-null   object
 15  UNIT PRICE_INR     2079 non-null   float64
 16  TOTAL VALUE_INR    2079 non-null   float64
 17  UNIT PRICE_USD     2079 non-null   float64
 18  TOTAL VALUE_USD    2079 non-null   float64
 19  DUTY PAID_INR      2079 non-null   float64
dtypes: datetime64[ns](1), float64(14), int64(2), object(3)
memory usage: 325.0+ KB

In [5]:
df['DATE'] = pd.to_datetime(df['DATE'], errors='coerce')
df['DATE'].head()

0   2025-10-28
1   2025-10-28
2   2025-10-23
3   2025-10-13
4   2025-10-13
Name: DATE, dtype: datetime64[ns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2079 entries, 0 to 2078
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PORT CODE          2079 non-null   object
 1   DATE               2079 non-null   datetime64[ns]
 2   IEC                2079 non-null   int64
 3   HS CODE            2079 non-null   int64
 4   GOODS DESCRIPTION  2079 non-null   object
 5   Master category    0 non-null      float64
 6   Model Name         0 non-null      float64
 7   Model Number       0 non-null      float64
 8   Capacity           0 non-null      float64
 9   Qty                0 non-null      float64
 10  Unit of measure    0 non-null      float64
 11  Price              0 non-null      float64
 12  Unit of measure.1  0 non-null      float64
 13  QUANTITY           2079 non-null   float64
 14  UNIT               2079 non-null   object
 15  UNIT PRICE_INR     2079 non-null   float64
 16  TOTAL VALUE_INR    2079 non-null   float64
 17  UNIT PRICE_USD     2079 non-null   float64
 18  TOTAL VALUE_USD    2079 non-null   float64
 19  DUTY PAID_INR      2079 non-null   float64
dtypes: datetime64[ns](1), float64(14), int64(2), object(3)
memory usage: 325.0+ KB

In [8]:
df['DATE'].dt.year.unique()

array([2025, 2024, 2023, 2022, 2021, 2020, 2019, 2018, 2017], dtype=int32)

In [9]:
df['GOODS DESCRIPTION'].head(10)

0    TH5170 STEEL CUTLERY HOLDER (QTY:600 PCS/USD 2...
1    8001-2 STEEL SCRUBBER 2PCS SET (QTY: 336000 SE...
2    MILD STEEL MULTI FUNCTION CLOTH STAND (RYX-02-...
3    SB-12 STEEL TEA STRAINER BIG (QTY 6336 PCS/USD...
4    SB-12 STEEL TEA STRAINER BIG (QTY 43038 PCS/US...
5    STEEL HANGER WITH HOOK (SL-89) (QTY:70056 PCS/...
6    STEEL HANGER 10PCS SET (AM-969) (QTY: 480 SET/...
7    AM-967 STEEL FRUIT BASKET (QTY 400 PCS/USD 1.0...
8    AM-966 STEEL FRUIT BASKET (QTY 400 PCS/USD 1.0...
9    AM-965 STEEL SPOON & FORK HOLDER (QTY 480 PCS/...
Name: GOODS DESCRIPTION, dtype: object

In [10]:
df['UNIT'].unique()

array(['KGS', 'NOS', 'PCS', 'KGS ', 'KG', 'SET'], dtype=object)

In [11]:
df.isnull().sum()

PORT CODE               0
DATE                    0
IEC                     0
HS CODE                 0
GOODS DESCRIPTION       0
Master category      2079
Model Name           2079
Model Number         2079
Capacity             2079
Qty                  2079
Unit of measure      2079
Price                2079
Unit of measure.1    2079
QUANTITY                0
UNIT                    0
UNIT PRICE_INR          0
TOTAL VALUE_INR         0
UNIT PRICE_USD          0
TOTAL VALUE_USD         0
DUTY PAID_INR           0
dtype: int64

In [12]:
df[['DUTY PAID_INR', 'TOTAL VALUE_INR']].describe()

       DUTY PAID_INR  TOTAL VALUE_INR
count   2.079000e+03     2.079000e+03
mean    6.878388e+05     2.017286e+06
std     6.223662e+05     1.694160e+06
min     0.000000e+00     1.882250e+03
25%     2.092378e+05     7.717038e+05
50%     5.411963e+05     1.648069e+06
75%     9.742361e+05     2.838890e+06
max     4.870250e+06     1.329217e+07